<div class="footer" th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container">
        <div class="pic">
            <img src="/image/ahnu.jpg">
        </div>
        <div class="info">
            <p class="visit">
                <a>联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/admin">后台管理</a>&nbsp;&nbsp;|&nbsp;&nbsp;网站访问量：<span th:text="${pv_count}"/>&nbsp;人次
            </p>
            <p class="address">地址：安徽省芜湖市九华南路189号  邮编：241002  版权所有：安徽师范大学地理与旅游学院</p>
            <p class="copyright">Copyright Anhui Normal University. All Rights Reserved</p>
        </div>
    </div>
</div>