<div class="header" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="header_line">
        <div class="top">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/admin">后台管理</a></li>
                <li><a href="#none" onclick=message()>访客留言</a></li>
            </ul>
        </div>
    </div>
    <div class="header_content">
        <img src="/image/logo.png"/>
        <p class="title">安徽师范大学省级精品课程</p>
        <div class="geo">
            <p class="ch">地貌学</p>
            <p class="en">Geomorphology</p>
        </div>
    </div>
</div>