<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>教学反馈</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
    <script src="/css/iconfont/iconfont.js"></script>
</head>
<body>
<div class="operation_box">
    <ul class="action_button">
        <li>
            <a href="#none"><i class="iconfont">&#xe667;</i>上传附件</a>
        </li>
    </ul>
</div>
<div class="content">
    <ul class="pictures doc">
        <li>
            <a href="#">
                <div class="mask">
                    <svg class="icon" aria-hidden="true">
                        <use xlink:href="#icon-PDF"></use>
                    </svg>
                    <span class="operation doc">
                        <i class="iconfont" title="预览">&#xe69a;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
                <p>教学反馈.pdf</p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>