<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>访客留言</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
</head>
<body>
<div class="content">
    <table class="table">
        <colgroup>
            <col/>
            <col width="200px"/>
            <col width="100px"/>
        </colgroup>
        <thead>
        <tr>
            <th>留言内容</th>
            <th>留言时间</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td title="网站做的不错啊">网站做的不错啊</td>
            <td>2019-08-03 17:30:15</td>
            <td align="center">
                <i class="iconfont" title="删除">&#xe62f;</i>
            </td>
        </tr>
        <tr>
            <td>这个地貌内容有点不懂</td>
            <td>2019-08-04 17:35:15</td>
            <td align="center">
                <i class="iconfont" title="删除">&#xe62f;</i>
            </td>
        </tr>
        </tbody>
    </table>
</div>

</body>
</html>