<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>访客留言</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
</head>
<body>
<div class="content">
    <table class="table">
        <colgroup>
            <col/>
            <col width="200px"/>
            <col width="100px"/>
        </colgroup>
        <thead>
        <tr>
            <th>留言内容</th>
            <th>留言时间</th>
            <th style="text-align: center">操作</th>
        </tr>
        </thead>
        <tbody th:each="msg:${msg_list}">
        <tr th:attr="data-id=${msg.id}">
            <td th:attr="title=${msg.content}" th:text="${msg.content}"></td>
            <td th:text="${#dates.format(msg.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
            <td align="center">
                <i class="iconfont" title="删除" onclick=deleteMsg(this)>&#xe62f;</i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<script src="/lib/jquery.js"></script>
<script>
    function deleteMsg(target) {
        var dataId = $(target).parents("tr").attr("data-id");
        if(dataId) {
            parent.layer.confirm('您确定要删除所选吗？', {
                btn: ['确定','取消'] //按钮
            }, function(){
                $.post({
                    url: '/admin/deleteMessage',
                    data: {id: dataId},
                    success: function (ar) {
                        if (ar.code != '0') {
                            parent.layer.alert(ar.msg);
                        } else {
                            parent.layer.msg("删除成功");
                            window.location.reload();
                        }
                    }
                });
            });
        }
    }
</script>

</body>
</html>