<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>后台首页</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
    <script src="/lib/jquery.js"></script>
    <script src="/lib/layui/layui.js"></script>
    <script src="/js/admin.js"></script>
</head>
<body>

<div class="layui-header">
    <div class="logo"><span>ECPS</span></div>
    <ul class="layui-nav">
        <li class="layui-nav-item">
            <a href="/">网站首页<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item">
            <a href="/admin/h2" target="_blank">数据库管理<span class="layui-badge-dot"></span></a>
        </li>
        <li class="layui-nav-item" lay-unselect="">
            <a href="#none"><img src="/image/logo.png" class="layui-nav-img">后台管理员</a>
            <dl class="layui-nav-child">
                <dd><a href="#none" onclick=modifyPassword()>修改密码</a></dd>
                <dd><a href="#none" onclick=logout()>安全退出</a></dd>
            </dl>
        </li>
    </ul>
</div>

<div class="layui-side layui-bg-black">
    <div class="layui-side-scroll">
        <ul class="layui-nav layui-nav-tree layui-inline" lay-filter="demo" style="margin-right: 10px;">
            <li class="layui-nav-item layui-nav-itemed">
                <a href="#none">首页</a>
                <dl class="layui-nav-child">
                    <dd class="layui-this"><a href="#none" name="introduction">课程简介</a></dd>
                    <dd><a href="#none" name ="teaching">教学活动</a></dd>
                    <dd><a href="#none" name="knowledge">科普园地</a></dd>
                    <dd><a href="#none" name="guest">访客留言</a></dd>
                    <dd><a href="#none" name="picture">地貌图片</a></dd>
                    <dd><a href="#none" name="link">友情链接</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="#none" name="apply">申报书</a></li>
            <li class="layui-nav-item"><a href="#none" name="team">教学团队</a></li>
            <li class="layui-nav-item"><a href="#none" name="outline">教学大纲</a></li>
            <li class="layui-nav-item"><a href="#none" name="plan">授课教案</a></li>
            <li class="layui-nav-item"><a href="#none" name="ware">教学课件</a></li>
            <li class="layui-nav-item"><a href="#none" name="video">教学视频</a></li>
            <li class="layui-nav-item"><a href="#none" name="library">试题库</a></li>
            <li class="layui-nav-item"><a href="#none" name="feedback">教学反馈</a></li>
        </ul>
    </div>
</div>

<div class="frame">
    <iframe src="/admin/introduction" frameborder="0px"></iframe>
</div>

</body>
</html>