<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>课程简介</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
    <link rel="stylesheet" href="/lib/rich/ui/trumbowyg.css"/>
    <style type="text/css">
        .content_box {
            position: absolute;
            left: 16px;
            right: 16px;
            top: 59px;
            bottom: 0px;
        }
        .editor_box {
            position: relative;
            width: 100%;
            height: 100%;
        }
        .trumbowyg-box {
            position:absolute!important;
            top: 0px;
            bottom: 0px;
            right: 0px;
            left: 0px;
        }
    </style>
</head>
<body>
<div class="operation_box">
    <ul class="action_button">
        <li>
            <a href="#none" onclick=save()><i class="iconfont">&#xe667;</i>发布</a>
        </li>
        <li>
            <a href="#none" onclick=reset()><i class="iconfont">&#xe604;</i>重置</a>
        </li>
        <li>
            <a href="#none" class="clear" onclick=empty()><i class="iconfont">&#xe61f;</i>置空</a>
        </li>
    </ul>
</div>
<div class="content_box">
    <div class="editor_box">
        <div id="editor" style="height: auto"></div>
    </div>
</div>
<script src="/lib/jquery.js"></script>
<script src="/lib/rich/trumbowyg.js"></script>
<script th:inline="javascript">
    var editor = $('#editor').trumbowyg({
        fullscreenable: false,
        closable: true,
        btns: [
            ['viewHTML'],
            ['strong', 'em'],
            ['justifyLeft', 'justifyCenter', 'justifyRight', 'justifyFull'],
            ['unorderedList', 'orderedList'],
            ['fullscreen']
        ]
    });
    editor.html([[${introduce.content}]]);
    $("#editor").outerHeight($(".trumbowyg-box").innerHeight() - $(".trumbowyg-button-pane").outerHeight() - $(".trumbowyg-textarea").outerHeight());
    $(window).resize(function () {
        $("#editor").outerHeight($(".trumbowyg-box").innerHeight() - $(".trumbowyg-button-pane").outerHeight() - $(".trumbowyg-textarea").outerHeight());
    });

    /**
     * 保存课程简介
     */
    function save() {
        $.post({
            async: false,
            url: '/admin/introduce/save',
            data: {content: editor.html()},
            success: function (ar) {
                if (ar.code == '0') {
                    parent.layer.msg("发布成功");
                    parent.refreshFrame();
                } else {
                    layer.alert(ar.msg);
                }
            }
        });
    }

    /**
     * 重置
     */
    function reset() {
        editor.html([[${introduce.content}]]);
    }

    /**
     * 置空
     */
    function empty() {
        editor.empty();
    }
</script>
</body>
</html>