<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>友情链接</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
    <style type="text/css">
        .mask .operation {
            height: 40px;
            line-height: 40px;
            text-align: center;
            background: rgba(0,0,0,0.4);
        }
    </style>
</head>
<body>
<div class="operation_box">
    <ul class="action_button">
        <li>
            <a href="#none"><i class="iconfont">&#xe667;</i>上传链接图片</a>
        </li>
    </ul>
</div>
<div class="content">
    <ul class="pictures">
        <li>
            <a href="#">
                <div class="mask">
                    <img src="/image/home/link_asd.jpg">
                    <span class="operation">
                        <i class="iconfont" title="编辑">&#xe608;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="mask">
                    <img src="/image/home/link_ld.png">
                    <span class="operation">
                        <i class="iconfont" title="编辑">&#xe608;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
            </a>
        </li><!-- more list items -->
        <li>
            <a href="#">
                <div class="mask">
                    <img src="/image/home/link_nd.png">
                    <span class="operation">
                        <i class="iconfont" title="编辑">&#xe608;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
            </a>
        </li>
    </ul>
</div>

</body>
</html>