<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>修改密码</title>
    <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
    <style type="text/css">
        .layui-form-label {width: 60px;}
        .layui-input-block {width: 310px;margin-left: 100px}
        .layui-form {margin-top: 30px;}
    </style>
</head>
<body>
<form class="layui-form" action="" lay-filter="example">
    <input type="hidden" class="layui-form" th:value="${username}" name="username">
    <div class="layui-form-item">
        <label class="layui-form-label">原密码</label>
        <div class="layui-input-block">
            <input type="password" name="oldPwd" autocomplete="off" lay-verify="required" placeholder="请输入原密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">新密码</label>
        <div class="layui-input-block">
            <input type="password" name="newPwd" lay-verify="required" autocomplete="off" placeholder="请输入新密码" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="demo1">保存</button>
        </div>
    </div>
</form>
<script src="/lib/jquery.js"></script>
<script src="/lib/layui/layui.js"></script>
<script>
    layui.use(['layer', 'form'], function () {
        var form = layui.form;
        var layer = layui.layer;
        //监听提交
        form.on('submit', function (data) {
            $.post({
                url: '/admin/modifyPwd',
                data: data.field,
                success: function (ar) {
                    if (ar.code == '0') {
                        parent.layer.msg("修改成功");
                        parent.layer.closeAll('iframe');
                    } else {
                        parent.layer.msg(ar.msg);
                    }
                }
            });
            return false;
        });
    });
</script>
</body>
</html>