<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>地貌图片</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
</head>
<body>

<div class="operation_box">
    <ul class="action_button">
        <li>
            <a href="#none"><i class="iconfont">&#xe667;</i>上传图片</a>
        </li>
        <li>
            <a href="#none"><i class="iconfont">&#xe710;</i>预览图片</a>
        </li>
    </ul>
</div>

<div class="content">
    <ul class="pictures" th:each="pic:${pic_list}">
        <li>
            <a href="#">
                <div class="mask">
                    <img th:src="${pic.attach.path}">
                    <span class="operation">
                        <i class="iconfont" title="下载">&#xe623;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
            </a>
        </li>
    </ul>
</div>

</body>
</html>