<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>教学团队</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
    <style type="text/css">
        ul.pictures p {
            width: 140px;
            font-size: 20px;
            font-family: 楷体;
        }
        ul.pictures img {
            width: 140px!important;
        }
    </style>
</head>
<body>
<div class="operation_box">
    <ul class="action_button">
        <li>
            <a href="#none"><i class="iconfont">&#xe667;</i>上传照片</a>
        </li>
    </ul>
</div>
<div class="content">
    <ul class="pictures">
        <li>
            <a href="#">
                <div class="mask">
                    <img src="/image/team/hg1.jpg"/>
                    <span class="operation doc">
                        <i class="iconfont" title="编辑">&#xe608;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
                <p>胡歌</p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="mask">
                    <img src="/image/team/hg2.jpg"/>
                    <span class="operation">
                        <i class="iconfont" title="编辑">&#xe608;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
                <p>胡歌</p>
            </a>
        </li>
        <li>
            <a href="#">
                <div class="mask">
                    <img src="/image/team/hg3.jpg"/>
                    <span class="operation">
                        <i class="iconfont" title="编辑">&#xe608;</i>
                        <i class="iconfont" title="删除">&#xe62f;</i>
                    </span>
                </div>
                <p>胡歌</p>
            </a>
        </li>
    </ul>
</div>
</body>
</html>