<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>教学视频</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
</head>
<body>
<div class="operation_box">
    <ul class="action_button">
        <li>
            <a href="#none"><i class="iconfont">&#xe667;</i>上传视频</a>
        </li>
        <li>
            <a href="#none" class="clear"><i class="iconfont">&#xe710;</i>删除</a>
        </li>
    </ul>
</div>
<div class="content">
    <ul class="video">
        <li>
            <video src="/download?id=15" type="video/mp4" controls>
                抱歉，你的浏览器不支持video标签。。
            </video>
            <div class="title">
                <input type="checkbox" />
                <p title="教学视频1">教学视频阿诗丹顿啥打法撒旦萨达是对方啥打法撒旦1</p>
            </div>
        </li>
        <li>
            <video src="/download?id=16" type="video/mp4" controls>
                抱歉，你的浏览器不支持video标签。。
            </video>
            <div class="title">
                <input type="checkbox" />
                <p title="教学视频2">教学视频阿诗丹顿啥打法撒旦萨达是对方啥打法撒旦1</p>
            </div>
        </li>
        <li>
            <video src="/download?id=17" type="video/mp4" controls>
                抱歉，你的浏览器不支持video标签。。
            </video>
            <div class="title">
                <input type="checkbox" />
                <p title="教学视频3">教学视频3</p>
            </div>
        </li>
    </ul>
</div>
</body>
</html>