<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>申请书</title>
    <link rel="stylesheet" href="../../lib/lunbo/Lunbo.css"/>
</head>
<body>

<div class="Box">
    <div class="content">
        <h2>简单实用的轮播插件</h2>

        <div class="Box_con clearfix">
            <span class="btnl btn" id="btnl"></span>
            <span class="btnr btn" id="btnr"></span>

            <div class="conbox" id="BoxUl">
                <ul>
                    <li class="cur"><img src="../../image/g_1.jpg" alt=""/></li>
                    <li class="cur"><img src="../../image/g_2.jpg" alt=""/></li>
                    <li class="cur"><img src="../../image/g_3.jpg" alt=""/></li>
                    <li class="cur"><img src="../../image/g_4.jpg" alt=""/></li>
                    <li class="cur"><img src="../../image/g_5.jpg" alt=""/></li>
                    <li class="cur"><img src="../../image/g_6.jpg" alt=""/></li>
                </ul>
            </div>

            <p class="BoxSwitch" id="BoxSwitch">
                <span class="cur"></span>
                <span></span>
                <span></span>
                <span></span>
            </p>

        </div>

    </div>
</div>
<script src="../../lib/jquery.js"></script>
<script src="../../lib/lunbo/Lunbo.js"></script>
<script type="text/javascript">
    //滚动元素id，左切换按钮，右切换按钮，切换元素个数id,滚动方式，切换方向，是否自动滚动，滚动距离，滚动时间，滚动间隔，显示个数
    LbMove('BoxUl', 'btnl', 'btnr', 'BoxSwitch', true, 'left', true, 305, 1000, 5000, 4);
</script>
</body>
</html>