<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Course List Page</title>
    <link rel="stylesheet" href="../../lib/layui/css/layui.css"/>
</head>
<body>

<table class="layui-hide" id="tab" lay-filter="test"></table>

<!--分页-->
<div id="paging"></div>


<script src="../../lib/layui/layui.js"></script>
<script>
    layui.use(['laypage', 'table'], function () {
        var table = layui.table;
        table.render({
            elem: '#tab',
            /*height: 420,*/
            url: '/course/getPage', //数据接口
            title: '课程表',
            limit: 10,
            page: true, //开启分页
            toolbar: 'default', //开启工具栏，此处显示默认图标，可以自定义模板，详见文档
            totalRow: true, //开启合计行
            cols: [[ //表头
                {type: 'checkbox', fixed: 'left'}
                , {field: 'id', title: 'ID', width: 80, sort: true, fixed: 'left', totalRowText: '合计：'}
                , {field: 'name', title: '课程名称', width: 200}
                , {field: 'code', title: '课程代码', width: 200, sort: true, totalRow: true}
                /*, {fixed: 'right', width: 165, align: 'center', toolbar: '#barDemo'}*/
            ]]
        });
        /*var laypage = layui.laypage;
        laypage.render({
            elem: 'paging', //填你DIV的ID
            theme: '#6699ff', //颜色
            limit: 10, //一页的条数，默认为10
            count: 100, //数据总数
            //触发换页操作
            jump: function (obj) {
                console.log("code you code");
            }
        });*/
    });
</script>
</body>
</html>