.layui-header {
    background-color: #23262E;
}
.layui-header .layui-nav {
    float: right;
    background-color: #23262E!important;
}

.logo {
    float: left;
    line-height: 60px;
    padding-left: 55px;
    color: rgba(255, 255, 255, 0.6);
    font-size: 25px;
}

.layui-side {
    top: 60px!important;
    width: auto!important;
}

.layui-side ul {
    margin: 0px!important;
}

.content {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 60px;
    left: 200px;
}