html, body { margin: 0px; }
.info { height: 260px; width: 100%;}

.panel {
    margin-top: 10px;
    position: relative;
}

.course_introduction {
    width: 300px;
    height: 250px;
    float: left;
}

.caption p {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
    float: left;
}

.caption .more {
    float: right;
    line-height: 24px;
    font-size: 14px;
    color: #7F8490;
    margin-top: 4px;
}

.caption a { text-decoration: none; }

.panel .content {
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    margin-top: 30px;
}

.panel .content p {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.teaching_action {
    width: 300px;
    height: 250px;
    margin-left: 30px;
    float: left;
}

.teaching_action ul {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.science_knowledge {
    width: 300px;
    height: 100px;
    margin-left: 30px;
    float: left;
}

.guest_book {
    width: 300px;
    margin-top: 40px;
    height: 100px;
    margin-left: 30px;
    float: left;
}

.pic_show {
    clear: both;
    /*position: relative;*/
}