html, body { margin: 0px; }

.content .info { height: 300px; width: 100%;}

.panel {
    margin-top: 10px;
    position: relative;
}

.course_introduction {
    width: 310px;
    height: 250px;
    float: left;
}

.caption p {
    font-size: 18px;
    font-weight: bold;
    line-height: 24px;
    margin: 0;
    padding: 0;
    float: left;
}

.caption .more {
    float: right;
    line-height: 24px;
    font-size: 14px;
    color: #7F8490;
    margin-top: 4px;
}

.caption a { text-decoration: none; }

.panel .content {
    width: 100%;
    height: 100%;
    border: 1px solid #cdcdcd;
    margin-top: 30px;
}

.panel .content p {
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}


.teaching_action {
    width: 310px;
    height: 250px;
    margin-left: 30px;
    float: left;
}

.teaching_action ul {
    list-style: none;
    padding: 0px;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.science_knowledge {
    width: 310px;
    height: 105px;
    margin-left: 30px;
    float: left;
}

.guest_book {
    width: 310px;
    margin-top: 40px;
    height: 105px;
    margin-left: 30px;
    float: left;
}

.pic_show {
    position: relative;
    margin-top: 20px;
    height: 330px;
}

.pic_show * {
    margin: 0px;
}

.pic_show .title {
    height: 45px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 45px;
    padding-left: 6px;
}

.p_title {
    height: 45px;
    color: #000000;
    font-size: 18px;
    font-weight: bold;
    text-align: left;
    line-height: 45px;
    margin-bottom: 20px;
}

.p_title span {
    border-bottom: 4px solid #f38f05;
    padding: 4px;
}

.link {
    clear: both;
    margin-top: 20px;
    height: 130px;
}

.link img {
    width: 300px;
    height: 45px;
}

/*申报书*/
.content .position {
    margin-top: 10px;
    padding-left: 15px;
    font-family: "微软雅黑";
    font-size: 14px;
    font-weight: normal;
    color: #888;
    line-height: 30px;
    background-color: #EFEFEF;
}

.content .position a {
    text-decoration: none;
    color: #888;
}

.content .bt {
    font-size: 20px;
    font-weight: bold;
    height: 22px;
    text-align: center;
    color: #222;
    margin-bottom: 15px;
    margin-top: 20px;
}

.content .bar {
    font-size: 12px;
    color: #888;
    height: 21px;
    line-height: 21px;
    text-align: center;
    background-color: #EFEFEF;
}

.content .nr {
    margin-top: 20px;
    font-size: 16px;
    color: #000000;
    line-height: 30px;
    text-align: left;
}


.team .card {
    float: left;
    margin-right: 30px;
}

.team img {
    width: 160px;
    height: 200px;
}