<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安徽师范大学精品课程</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="header">
    <div class="header_line">
        <div class="top">
            <ul>
                <li><a href="/">网站首页</a></li>
                <li><a href="/admin">后台管理</a></li>
                <li><a href="/">访客留言</a></li>
            </ul>
        </div>
    </div>
    <div class="header_content">
        <img src="../image/logo.png"/>
        <p class="title">安徽师范大学省级精品课程</p>
        <div class="geo">
            <p class="ch">地貌学</p>
            <p class="en">Geomorphology</p>
        </div>
    </div>
</div>
<div class="menu">
    <ul class="nav">
        <li class="menu_item one_link">
            <a href="#none" name="home">首页</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="apply">申报书</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="team">教学团队</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="outline">教学大纲</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="plan">授课教案</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="ware">教学课件</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="video">教学视频</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="library">试题库</a>
        </li>
        <li class="menu_item">
            <a href="#none" name="feedback">教学反馈</a>
        </li>
    </ul>
</div>
<div class="content">
    <iframe frameborder="no" border=0 id="content-frame" scrolling="no" src="/menu/home"></iframe>
</div>
<div class="footer">
    <div class="container">
        <img src="../image/ahnu.jpg">
        <div class="info">
            <p class="visit">
                <a>联系我们</a>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/admin">后台管理</a>&nbsp;&nbsp;|&nbsp;&nbsp;网站访问量：1029人次
            </p>
            <p class="address">地址：安徽省芜湖市九华南路189号  邮编：241002  版权所有：安徽师范大学地理与旅游学院</p>
            <p class="copyright">Copyright Anhui Normal University. All Rights Reserved</p>
        </div>
    </div>
</div>

<script src="../lib/jquery.js"></script>
<script>
    $(function () {
        /*给菜单项绑定点击事件*/
        $(".nav a").on('click', function (event) {
            var name = event.target.name;
            $('.nav .one_link').removeClass("one_link");
            $('.nav a[name='+ name + ']').addClass("one_link");
            /*切换菜单项内容*/
            $('#content-frame').attr('src', "/menu/" + name);
        });
    });
</script>
</body>
</html>