<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安徽师范大学精品课程</title>
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
<div class="header">
    <div class="header_line">
        <ul>
            <li><a href="/">网站首页</a></li>
            <li><a href="/admin">后台管理</a></li>
            <li><a href="/">访客留言</a></li>
        </ul>
    </div>
    <div class="header_logo"></div>
</div>
<div class="menu"></div>
<div class="content"></div>
<div class="footer"></div>
</body>
</html>