<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>安徽师范大学精品课程</title>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<div class="top">
    <img src="../image/logo.png" style="margin-left: 10px; margin-right:10px; float: left"/>
    <div style="float: left; margin-top: 10px;">
        <img src="../image/university.png" />
        <p style="text-align: center; margin: 0px; font-family: Calibri; font-weight: bold">Anhui Normal University</p>
    </div>
    <div style="float: right; margin-right: 20px;">
        <p style="font-family: 幼圆; font-size: 36px">2017年省级精品课程</p>
    </div>
</div>
<div class="content" style="text-align: center; position: relative">
    <p style="font-family: 华文琥珀; font-size: 66px; color: white; margin-bottom: 5px">地貌学</p>
    <p style="font-family: 'Arial Black'; font-size: 32px; font-weight: bold; color: white; margin-top: 0px; margin-bottom: 50px">Geomorphology</p>
    <p style="font-family: 楷体; font-size: 32px; color: white;margin-bottom: 40px">课程负责人 胡春生</p>
    <p style="font-family: 宋体; font-size: 28px; color: white;">安徽师范大学地理与旅游学院</p>

    <div style="position: absolute; right: 30px; bottom: 30px">
        <a href="/main" style="font-family: 宋体; font-size: 30px; color: yellow">进入课程</a>
    </div>
</div>

</body>
</html>