<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>安徽师范大学精品课程</title>
    <link rel="stylesheet" href="../css/main.css"/>
</head>
<body>
<div class="top">
    <img src="../image/logo.png" style="margin-left: 10px; margin-right:10px; float: left"/>
    <div style="float: left; margin-top: 10px;">
        <p style="font-family: 幼圆; font-size: 32px; font-weight: bold">安徽师范大学省级精品课程</p>
    </div>
    <div style="float: right; margin-right: 100px;margin-top: 30px">
        <p style="font-family: 华文琥珀; font-size: 40px; font-weight: bold; margin: 0px">地貌学</p>
        <p style="font-family: 'Arial Black'; font-size: 20px;margin: 0px; color: #FF5722">Geomorphology</p>
    </div>
</div>
<div class="main_content">

</div>
</body>
</html>