<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>申报书-安徽师范大学精品课程</title>
        <link rel="stylesheet" href="/css/admin.css"/>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
        <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
        <script src="/css/iconfont/iconfont.js"></script>
    </head>
    <body>
        <div th:replace="common/header::header"></div>
        <div th:replace="common/menu::menu"></div>
        <div class="content">
            <div class="position">
                当前位置：
                <a href="/">首页</a>
                <span>></span>
                <a href="/apply">申报书</a>
            </div>
            <div class="apply">
                <div class="bt">申报书</div>
                <div class="bar">
                    发布人：程春云&nbsp;&nbsp;&nbsp;&nbsp;
                    发布日期：2019-07-27&nbsp;&nbsp;&nbsp;&nbsp;
                    浏览次数：<span th:text="${apply_count}"/>&nbsp;&nbsp;&nbsp;&nbsp;
<!--                    <a href="/download?id=11">下载</a>-->
                </div>
                <div class="nr">
                    <ul class="pictures doc">
                        <li th:each="apply:${apply_list}">
                            <a href="#">
                                <div class="mask">
                                    <svg class="icon" aria-hidden="true" th:onclick="preview([[${apply.attach.id}]], [[${apply.attach.fileName}]])">
                                        <use xlink:href="#icon-PDF"></use>
                                    </svg>
                                    <span class="operation doc">
                                        <i class="iconfont" title="下载" th:onclick="download([[${apply.attach.id}]])">&#xe623;</i>
                                    </span>
                                </div>
                                <p th:text="${apply.attach.fileName}" th:title="${apply.attach.fileName}"></p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div th:replace="common/footer::footer"></div>
        <script src="/lib/jquery.js"></script>
        <script src="/js/index.js"></script>
        <script src="/lib/layui/layui.js"></script>
        <script>
            addVisitCount('apply');
        </script>
    </body>
</html>