<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="UTF-8">
        <title>安徽师范大学精品课程</title>
        <link rel="stylesheet" href="/css/index.css"/>
        <link rel="stylesheet" href="/css/main.css"/>
        <link rel="stylesheet" href="/lib/lunbo/Lunbo.css"/>
        <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
    </head>
    <body>
        <div th:replace="common/header::header"></div>
        <div th:replace="common/menu::menu"></div>
        <div class="content">
            <div class="info">
                <div class="panel course_introduction">
                    <div class="caption">
                        <p>课程简介</p>
                        <a class="more" href="/introduce" target="_self">More&nbsp;>></a>
                    </div>
                    <div class="content">
                        <p th:utext="${introduce.content}"></p>
                    </div>
                </div>
                <div class="panel teaching_action">
                    <div class="caption">
                        <p>教学活动</p>
                        <a class="more" href="/teachingList" target="_self">More&nbsp;>></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li th:each="teaching:${teaching_list}">
                                <span class="news_meta" th:text="'[' + ${#dates.format(teaching.publishTime,'MM-dd')} + ']'"></span>
                                <span class="news_title"><a th:text="${teaching.title}" th:title="${teaching.title}" th:href="@{/teaching?id={id}(id=${teaching.id})}"></a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel science_knowledge">
                    <div class="caption">
                        <p>科普园地</p>
                        <a class="more" href="/knowledgeList" target="_self">More&nbsp;>></a>
                    </div>
                    <div class="content">
                        <ul>
                            <li th:each="knowledge:${knowledge_list}">
                                <span class="news_meta" th:text="'[' + ${#dates.format(knowledge.publishTime,'MM-dd')} + ']'"></span>
                                <span class="news_title"><a th:text="${knowledge.title}" th:title="${knowledge.title}" th:href="@{/knowledge?id={id}(id=${knowledge.id})}"></a></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="panel guest_book">
                    <div class="caption">
                        <p>访客留言</p>
                        <a class="more" href="/messageList" target="_self">More&nbsp;>></a>
                    </div>
                    <div class="content">
                        <div id="msg" th:fragment="message">
                            <ul th:each="msg:${msg_list}">
                                <li th:each="knowledge:${knowledge_list}">
                                    <span class="news_meta" th:text="'[' + ${#dates.format(msg.createTime,'MM-dd')} + ']'"></span>
                                    <span class="news_title" th:text="${msg.content}" th:title="${msg.content}"></span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="pic_show">
                <div class="p_title">
                    <span>地貌图片</span>
                </div>
                <div class="Box">
                    <div class="Box_con clearfix">
                        <!--<span class="btnl btn" id="btnl"></span>
                        <span class="btnr btn" id="btnr"></span>-->
                        <div class="conbox" id="BoxUl">
                            <ul>
                                <!--<li class="cur"><img src="../../image/home/pic_01.jpg"/></li>-->
                                <li th:each="pic:${pic_list}"><img th:src="@{/download?id={id}(id=${pic.attach.id})}"></li>
                            </ul>
                        </div>
                        <p class="BoxSwitch" id="BoxSwitch">
                            <span th:each="pic:${pic_list}"></span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="link">
                <div class="p_title">
                    <span>友情链接</span>
                </div>
                <div class="image">
                    <a th:each="link:${link_list}" th:href="${link.url}" target="_blank"><img th:src="@{/download?id={id}(id=${link.attach.id})}"></a>
                </div>
            </div>
        </div>
        <div th:replace="common/footer::footer"></div>
        <script src="/lib/jquery.js"></script>
        <script src="/js/index.js"></script>
        <script src="/lib/lunbo/Lunbo.js"></script>
        <script src="/lib/layui/layui.js"></script>
        <script>
            $(function () {
                LbMove('BoxUl', 'btnl', 'btnr', 'BoxSwitch', true, 'left', true, 255, 1000, 5000, 4);
                $("#BoxUl > ul > li:nth-child(n+5)").show();
                layui.use('layer', function () {
                    layui.layer.photos({
                        photos: '#BoxUl',
                        anim: 5
                    });
                });
                addVisitCount('home');
            });

            /**
             *  异步刷新消息
             */
            function refreshMsg() {
                $("#msg").load("/async/getMessage");
            }
        </script>
    </body>
</html>