<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>安徽师范大学精品课程-留言列表</title>
    <link rel="stylesheet" href="/css/admin.css"/>
    <link rel="stylesheet" href="/css/index.css"/>
    <link rel="stylesheet" href="/css/main.css"/>
    <link rel="stylesheet" href="/lib/layui/css/layui.css"/>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css"/>
    <script src="/css/iconfont/iconfont.js"></script>
</head>
<body>
<div th:replace="common/header::header"></div>
<div th:replace="common/menu::menu"></div>
<div class="content">
    <div class="position">
        当前位置：
        <a href="/">首页</a>
        <span>></span>
        <a href="#">留言列表</a>
    </div>
    <div class="apply">
        <div class="bt">访客留言</div>
        <div class="bar">
            浏览次数：<span th:text="${message_count}"/>
        </div>
        <div class="nr">
            <table class="table">
                <colgroup>
                    <col/>
                    <col width="200px"/>
                </colgroup>
                <thead>
                    <tr>
                        <th>留言内容</th>
                        <th align="center">留言时间</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="message:${message_list}">
                        <td th:utext="${message.content}" th:title="${message.content}"></td>
                        <td align="center" th:text="${#dates.format(message.createTime,'yyyy-MM-dd HH:mm:ss')}"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div th:replace="common/footer::footer"></div>
<script src="/lib/jquery.js"></script>
<script src="/js/index.js"></script>
<script src="/lib/layui/layui.js"></script>
<script>
    addVisitCount('message');
</script>
</body>
</html>