<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ICONFONT DEMO</title>
    <link rel="stylesheet" href="/css/iconfont/iconfont.css">
    <script src="/css/iconfont/iconfont.js"></script>
    <style type="text/css">
        .icon {
            width: 1em;
            height: 1em;
            vertical-align: -0.15em;
            fill: currentColor;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div>
<!--    <li class="iconfont icon-lock"></li>-->
<!--    <li class="iconfont">&#xe613;</li>-->
<!--    <li class="iconfont icon-setup"></li>-->
<!--    <svg class="icon" aria-hidden="true">-->
<!--        <use xlink:href="#icon-lock"></use>-->
<!--    </svg>-->
<!--    <svg class="icon" aria-hidden="true">-->
<!--        <use xlink:href="#icon-setup"></use>-->
<!--    </svg>-->
<!--    <svg class="icon" aria-hidden="true">-->
<!--        <use xlink:href="#icon-print"></use>-->
<!--    </svg>-->
    <li class="iconfont">&#xe648;</li>
    <li class="iconfont">&#xe619;</li>
</div>
</body>
</html>